#wrapper-promotions{
    position:relative;
    height: 200px;
    width:100%;
    clear:both;
}

#container{
    position: relative;
    top: 1%;
    left: 6%;
    height: 200px;
    width: 88%; /* 3 images of 150px showing with a 10px margin = 3*(150) + 2*(10) = 470 */
    overflow:hidden;
}


#container li{
    height: 95%;
    position: absolute;
    width: 24%;
    overflow:hidden;
}
#container a img{
    height: 100%;
    cursor: pointer;
}
 
#carouselLeft{
    position: absolute;
    top: 35%;
    left:0;
    cursor: pointer;
}

#carouselRight{
    position: absolute;
    top: 35%;
    right:0%;
    cursor: pointer;
}