<?php
$dataPromotion = $this->getDataPromotions();
if(count($dataPromotion['blocks']) == 0){
    return;
}
?>
<div id="box">
    <span class="h1"><?php echo $dataPromotion['promotions_name']; ?></span>
    <div class="std">
        <?php echo $dataPromotion['description']; ?>
    </div>
    <div class="w-sk-jc">
        <div class="jcarousel-skin-ie7">
            <div class="jcarousel-container jcarousel-container-horizontal">
                <div class="jcarousel-clip jcarousel-clip-horizontal">
                    <ul class="sk-jc jcarousel-list jcarousel-list-horizontal">
                        <?php foreach ($dataPromotion['blocks'] as $id): ?>
                            <li class="jcarousel-item jcarousel-item-horizontal"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($id)->toHtml() ?></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <div class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal"></div>
                <div class="jcarousel-next jcarousel-next-horizontal"></div>
            </div>
        </div>
    </div>
</div>
<?php $url = Mage::getUrl('webpromotions/carousel/getBlock'); ?>

<script type="text/javascript">

        function mycarousel_itemLoadCallback(carousel, state)
        {
        inProgress = false;

<!--            if (carousel.has(carousel.first, carousel.last))-->
<!--            {-->
<!--                return;-->
<!--            }-->

            if(inProgress == false){
                jQuery.ajax({
                        url: "<?php echo $url; ?>",
                        method: 'POST',
                        enctype: 'multipart/form-data',
                        data: {
                            "id"   : "<?php echo $this->getRequest()->getParam('id') ?>",
                            "first" : carousel.first,
                            "last"    : carousel.last
                            },
                        dataType: 'json',
                        beforeSend: function() {
                            inProgress = true;
                        },
                        complete: function(data){
                            blocks = jQuery.parseJSON(data.responseText);
                            if (blocks.result.length > 0) {
                                carousel.size(parseInt(blocks.n));
                                n = carousel.last - carousel.first;
                                for (i = 0; i <= n; i++)
                                {
                                    e = carousel.add(carousel.first + i, blocks.result[i]);
                                }
                            }
                            inProgress = false;
                         }
                })
             }
        };

        jQuery(document).ready(function($) {
            $('.sk-jc').jcarousel({
                itemLoadCallback: mycarousel_itemLoadCallback,
                scroll:4
            });
        });

</script>